<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Страничка о зайчике </title>
</head>

<body>

<h1> Привет, я заяц беляк!<br></h1>
<img src="https://funart.pro/uploads/posts/2021-04/1618280574_4-p-krasivii-zaichik-zhivotnie-krasivo-foto-4.jpg"
     alt="Фото" style="float:center;width:200px;height:200px"/>
<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/45/Lepus_timidus_01.jpg/275px-Lepus_timidus_01.jpg"
     alt="Фото" style="float:center;width:200px;height:200px"/>
<p><strong> Hi, i'm a fanny bunny! </strong></p>
<p>
    <ins>Длина моего тела составлянт от 44 до 65 см в зависимости от возраста. Летом я серый, а зимой белый и
        пушистый.
    </ins>
</p>
<p><b>Мои родственники - беляки обитают в тундре Западной Сибири,в Якутии и на Дальнем Востоке.</b></p>
<p><b>Веду преимущественно вечерний и ночной образ жизни. Очень боюсь лисичек и волков! </b></p>
<p><em>Кушаю мало - зеленую травку, одуванчики, клевер, грибочки и ягодки.</em></p>
<p>
    <del>Размножаюсь часто и успешно - 2-3 раза за год.</del>
</p>
<mark>Хотите познакомиться?</mark>
<p><a href="https://ru.wikipedia.org/wiki/%D0%97%D0%B0%D1%8F%D1%86-%D0%B1%D0%B5%D0%BB%D1%8F%D0%BA" target="_blank">Моя
    анкета здесь.</a></p>

</body>
</html>